* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .col.left{
    width: 100%;
  }
  .col.right{
    width: 100%;
  }
}


body{
    background-color: darkgrey;
    z-index: 1;
}

.resume{
    width: 80%;
    margin-left: 12%;
    z-index: 2;
    display: table;
    height: 1900px;
  
}

#basic_info{
    color: white;
    margin-bottom: 0px;
}

.col{
    float: left;
    display: table-cell;
    height: 100%;
}
 
.col.left{
    width: 30%;
    background-color: black;
    display: table-cell;
}

.img1{
    padding-left: 62px;
}
.t1{
    padding-left: 44px;
    font-weight: bold;
    font-family: serif;
}

.content1{
    padding-left: 5px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
    text-justify:auto;
}

.round_img{
    width: 80%;
    border-radius:50%;
    padding-left: 0px;
}

hr{
    margin-bottom: 0px;
    margin-top: 0px;
}
.content_lef{
    margin-top: 0px;
    color: azure;
}

.content2{
    padding-left: 15px;
    font-family: 
}
.content2 img{
    width: 27px;
    border-radius: 0%;
    vertical-align: middle;
}

.para1 { 
    margin:0;
    padding-left: 10px;
}
.img2{
    width: 19px;
    height: 16px;
}
a.left_a:link{color: beige;}
a.left_a:visited{color: beige;}
a.left_a:hover{color: burlywood;}

.content3{
    padding-left: 15px;
}
.content3 li{
    font-family: sans-serif;
    margin-bottom: 5px;
    font-size: 16px;
}
.container {
    width: 95%; 
    background-color: #363434; 
    margin-right: 30px;
    height: 15px;
}

.skills {
    text-align: right; 
    padding-top: 0px; 
    padding-bottom: 0px; 
    color: black; 
}   

.python {width: 95%; height: 15px; background-color: #b29155; font-weight: bold;} 
.r {width: 90%; height: 15px; background-color: #b29155; font-weight: bold;} 
.sql {width: 90%; height: 15px; background-color: #b29155; font-weight: bold;}
.ml {width: 90%; height: 15px; background-color: #b29155; font-weight: bold;}

.aws {width: 70%; height: 15px; background-color: #b29155; font-weight: bold;}
.tableau {width: 75%; height: 15px; background-color: #b29155; font-weight: bold;} 
.eda {width: 90%; height: 15px; background-color: #b29155; font-weight: bold;} 
.java {width: 90%; height: 15px; background-color: #b29155; font-weight: bold;} 
.webtech {width: 80%; height: 15px; background-color: #b29155; font-weight: bold;}

.col.right{
    width: 70%;
    background-color: white;
    padding-left: 20px;
    display: table-cell;
}

.description img{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.description img, .description h2 {
    display: inline;
    vertical-align: middle;
    font-family:sans-serif;
    margin-left: -10px;
}

.description2 img, .description2 h2, .description2 h3, .description2 h4, .description2 p{
    display: inline;
    vertical-align: middle;
    font-family:sans-serif;
    margin-left: 0px;
    margin-bottom: 0px;
}

.description2 img{
    margin-left: 25px;
    width: 40px;
    height: 0px;
    border-radius: 50%;
}

.li{
    text-align: justify;
}

.description3 h3, .description3 h4, .description3 p{
    display: inline;
    vertical-align: middle;
    font-family:sans-serif;
    margin-left: 30px;
    margin-bottom: 0px;
}

.alignleft.ne{
    margin-left: -169px;
}
.alignleft.ne2{
    margin-left: -140px;
}

.alignleft {
	float: left;
    margin-top: 0px;
    margin-left: 0px;
}

.lis{
    margin-top: 7px;
    margin-left: 25px;
}

.alignright {
    margin-bottom: 0px;
    margin-right: 20px;
    float: right;
    display:inline-block; 
    margin-top: 12px;
    font-weight: bold;
}

a.right_a:link{color: black;}
a.right_a:visited{color: black;}
a.right_a:hover{color: #785D2C}


